<section class="support" id="support">
  <div class="container">
    <div class="support-form-section">
      <h2 class="section-title">Залишились питання? Зв'яжіться з нами!</h2>
      <p class="section-subtitle support-section-subtitle">
        Ми тут, щоб допомогти!
      </p>
      <form action="#" class="support-form">
        <label for="user-name"> Ім'я </label>
        <div class="input-wrapper-container">
          <input
            class="input"
            type="text"
            name="name"
            id="user-name"
            placeholder="Іван"
            minlength="5"
            maxlength="64"
            required
          />
          <p class="input-text-invalid">Invalid name, try again</p>
        </div>
        <label for="user-email"> Електронна пошта </label>
        <div class="input-wrapper-container">
          <input
            class="input"
            type="email"
            name="email"
            id="user-email"
            placeholder="hello@ecotote.com"
            pattern="^[^\s@]+@[^\s@]+\.[A-Za-z]{2,}$"
            required
          />
          <p class="input-text-invalid">Invalid email, try again</p>
        </div>
        <label for="user-comment"> Повідомлення </label>
        <div class="input-wrapper-container">
          <textarea
            class="input-textarea"
            name="message"
            id="user-comment"
            placeholder="Введіть своє повідомлення..."
            maxlength="500"
          ></textarea>
        </div>
        <button type="submit" class="button support-button">Надіслати</button>
      </form>
    </div>
    <div class="support-bg-img"></div>
  </div>
</section>
